* {
    font-family: sans-serif;
    background-color: rgb(223, 231, 156);  
}

header {
    background-color: rgb(206, 206, 109);
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(77, 20, 77);
    background-color: rgb(206, 206, 109);    
}
h2 {
    text-align: center;
}

a {
    color: rgb(77, 20, 77);
    background-color: rgb(206, 206, 109);
}

img {
    width: 50%;
}

table {
    background-color: rgb(169, 137, 42);
    width: 100%;
    
}
td {
    font-family: monospace;
    padding: 5px;
}

th {
    padding: 5px;
}
