/*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.subtitulo-h2 {
    width: 100%;
    padding: 1vw;
    text-align: center;
    font-size: xx-large;
}
.titulo-principal{
    font-size: 4vw;
    margin-top: 2vh;
}
.mensaje{
    width: 100%;
    /* float: left;  */
    background-color: bisque;
    color: rgb(205, 40, 40);
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem .5 darkblue;
}
/*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/ /*ESTILOS GENERALES*/


/* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/
/*
.header {
    background-color: rgb(58, 40, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 5px 5%;
}
.header .logo img {
    height: 12vh;
    transition: all 0.3s;
}
.header .logo img:hover {
    transform: scale(1.2);
}
.header nav {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
.header .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    width: 100%;
}
.header .nav-links li:hover {
    transform: scale(1.1);
}
.header .nav-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: aliceblue;
}
.header .nav-links a:hover{
    color: rgb(249, 206, 67);
    text-decoration: underline;
}
.header .btn button {
    font-weight: 1em;
    color: black;
    padding: 1em 1em 2em 1em;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 1vh;
}
.header .btn button:hover {
    color: rgb(249, 206, 67);
    transform: scale(1.1);
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.buttons a {
    margin: 1vw;
}
*/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 40, 0);
    color: white;
}

.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.header .btn button {
    font-weight: 1em;
    color: black;
    padding: 1em 1em 2em 1em;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 1vh;
}
.header .btn button:hover {
    color: rgb(249, 206, 67);
    transform: scale(1.1);
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.buttons a {
    margin: 1vw;
}


/* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/

/* ESTILOS PÁGINA DE CONTACTO*/ /* ESTILOS PÁGINA DE CONTACTO*/ /* ESTILOS PÁGINA DE CONTACTO*/ /* ESTILOS PÁGINA DE CONTACTO*/
.main-contacto {
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    border: burlywood solid 10px;
}
.h1-contacto {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
    grid-row-start: 2;
    text-align: center;
}
.formulario-contacto {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    grid-row-start: 3;
    width: 40vw;
    margin: 10px 30px 10px 30px;
}
.textarea {
    resize: none;
    width: auto;
}
.form-item {
    display: flex;
    flex-direction: column;
}
.contact-iframe{
    padding: 10px 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    grid-row-start: 3;
    width: 100%;
    height: 100%;
}
.contact-iframe iframe {
    width: 100%;
    height: 100%;
}
.ico-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2vw;
    background: #25D366;
    color: #fff;
    border-radius: 50px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}


/* ESTILOS PÁGINA DE CONTACTO*/ /* ESTILOS PÁGINA DE CONTACTO*/ /* ESTILOS PÁGINA DE CONTACTO*/ /* ESTILOS PÁGINA DE CONTACTO*/

/* ESTILOS DE LAS FICHAS TÉCNICAS*/ /* ESTILOS DE LAS FICHAS TÉCNICAS*/ /* ESTILOS DE LAS FICHAS TÉCNICAS*/ /* ESTILOS DE LAS FICHAS TÉCNICAS*/
.main-ft{
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-rows: 0.3fr 0.7fr 3fr 4fr;
    border: burlywood solid 10px;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    padding: 1vw;
    color: rgb(26, 16, 2);
    background-color: rgb(240, 227, 130);
}
table ul{
    list-style-type: none;  /* Elimina el Bullet de la lista */
    text-align: center;

}
th {
    font-size: 1.2vw;
    text-align: center;
    padding: 1vw;
    background-color: rgb(223, 231, 156);
}
table {
    background-color: rgba(23, 20, 11, 0.838);
    width: 90%;   
    /*text-align: justify; */
    margin: 1vw auto;
}
.div-img{
    width: 100%;
    align-items: center;
    text-align: center;

}

.yt-a{
    width: 100%;
    align-items: center;
    text-align: center;

}
.div-tabla table{
 
    text-align: center;
    justify-content: center;
    align-items: center;

}

.redireccion{
    text-align: center;
    margin: 1vw;
    background-color: rgba(194, 214, 19, 0.737) 
}

.redireccion a{
    font-weight: bolder;
}
/* ESTILOS DE LAS FICHAS TÉCNICAS*/ /* ESTILOS DE LAS FICHAS TÉCNICAS*/ /* ESTILOS DE LAS FICHAS TÉCNICAS*/ /* ESTILOS DE LAS FICHAS TÉCNICAS*/

/* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/
.footer {
    background-color: rgb(255, 218, 138);
    display: flex;
    text-align: center; 
    flex-direction: column;  
}
/* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/ /* ESTILOS DEL FOOTER*/



/* ESTILOS DEL INDEX */
.main-vinilos{
    width: 90%;
	max-width: 80%;
	margin:auto;
	padding: 40px 60px;
	display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 25px;
    
}
.main-vinilos img {

    width: 100%;
    height: 100%;
}

.main-vinilos div p, .container-main-vinilos div p a {
    background-color: rgb(185, 199, 199);
}
.main-vinilos div p  {
    background-color:rgba(185, 199, 199, 0.5)
}

.main-index{
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-rows: 0.7fr 5fr 10fr;
    border: burlywood solid 10px;
}
.main-aboutus {
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-rows: auto auto auto auto;
}
.titulo-index{
    margin: 0.5vw auto;
    grid-row-start: 1;
    text-align: center;
}
.main-index-img {
    width: auto;
    height: auto;
    text-align: center; 
}
.main-index-img img {

    width: 40vw;
    height: auto;
    align-items: center;
    text-align: center;
}
.main-index-img p {
    padding: 20px;
    font-size: x-large;
    align-items: center;
    text-align: center;
}
.texto-vinilos{
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.texto-center{
    display: flex;
    justify-content: center;
}

/* ESTILOS DEL INDEX*/



/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */


/* ESTILOS PÁGINA DE CONTACTO*/


@media only screen and (max-width: 450px)  {
    .main-contacto {
        background-color: rgb(255, 218, 138);
        display: grid;
        grid-template-rows: 1fr 4fr 4fr 1fr;
    }
    .h1-contacto {
        grid-row-end: 1;
        grid-row-start: 2;
        text-align: center;
    
    }
    .titulo-principal{
        font-size: 1.5em;
    }
    .formulario-contacto {
        grid-row-end: 2;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 1px 3px;
        width: 90%;
        margin: 1vh auto;
    }
    .form-item {
        display: flex;
        flex-direction: column;
    }
    .contact-iframe{
        grid-row-end: 3;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 90%;
        margin: 10vh auto;
    }
    .header {
        width: 100%;
    }
    .main-contacto {
        width: 100%
    }

/* ESTILOS PÁGINA DE CONTACTO*/



/* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/

   /*  .header {
        background-color: rgb(58, 40, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
    }
    .header .logo {
        cursor: pointer;
    }
    .header .logo img {
        height: 1vh;
        transition: all 0.3s;
    }
    .header .logo img:hover {
        transform: scale(1.2);
    }
    .header .nav-links li {
        display:inline-flex;
        padding: 0 10px;
    }
    .header .nav-links li:hover {
        transform: scale(1.1);
    }
    .header .nav-links a {
        font-size: 0.7em;
        text-decoration: none;
        color: aliceblue;

    }
    .header .nav-links a:hover{
        color: rgb(249, 206, 67);
    }
    .header .btn button {
        font-size: 0.5em;
        color: black;
        background: #fff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .header .btn button:hover {
        color: rgb(249, 206, 67);
        transform: scale(1.1);
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .buttons a {
        margin: 1vw;
    } */


/* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*/



    .main-vinilos{
        width: 100%;
        max-width: 50vw;
        margin:20vw;
        padding: 0.4vw 0.6vw;
        display: grid;
        grid-template-columns: 55vw;
        gap: 25px;
    }
    .main-vinilos div p, .container-main-vinilos div p a {
        background-color: rgb(185, 199, 199);
    }
    .main-vinilos div p  {
        background-color:rgba(185, 199, 199, 0.5)
    }
    
    .main-index{
        background-color: rgb(255, 218, 138);
        display: grid;
        grid-template-rows: 0.1fr 1fr 5fr;
    }
    .main-aboutus {
        background-color: rgb(255, 218, 138);
        display: grid;
        grid-template-rows: auto auto auto auto;
    }
    .titulo-index{
        grid-row-start: 1;
        text-align: center;
    }
    .main-index-img {
        width:fit-content;
        height: auto;
        text-align: center; 
    }
    .main-index-img img {
        width: 40vw;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .main-index-img p {
        padding: 10px;
        font-size: large;
        align-items: center;
        text-align: center;
    }
    .texto-vinilos{
        color: black;
        font-size: medium;
        font-weight: bold;
        text-align: center;
    }
    .texto-center{
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 800px) {

/* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*/
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*/


/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */

/* Registro*/ /* Registro*//* Registro*//* Registro*//* Registro*//* Registro*/



/* .main-registro{
     background-color: rgb(255, 218, 138);

}
.formulario-registro{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 90%;

}

.formulario-registro form div{
    font-style: italic;
    margin: 40px;
    text-align: center;
    size: 10px;
    border-color:red  solid 1px  ;

}

.formulario-registro div{
    align-items: center; */

    
    

    
/* } */
         
            


/* Registro*//* Registro*//* Registro*//* Registro*//* Registro*//* Registro*/


