/*ESTILOS GENERALES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.subtitulo-h2 {
    width: 100%;
    padding: 1vw;
    text-align: center;
    font-size: xx-large;
}
.titulo-principal{
    font-size:2.5vw;
}




/* ESTILOS BARRA DE NAVEGACION*/
.header {
    background-color: rgb(58, 40, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 5px 5%;
}
.header .logo {
    cursor: pointer;
}
.header .logo img {
    height: 15vh;
    transition: all 0.3s;
}
.header .logo img:hover {
    transform: scale(1.2);
}
.header .nav-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}
.header .nav-links li:hover {
    transform: scale(1.1);
}
.header .nav-links a {
    font-size: 1em;
    text-decoration: none;
    color: aliceblue;
}
.header .nav-links a:hover{
    color: rgb(249, 206, 67);
}
.header .btn button {
    font-weight: 1em;
    color: black;
    padding: 1em 2em;
    background: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 5vh;
}
.header .btn button:hover {
    color: rgb(249, 206, 67);
    transform: scale(1.1);
}

.btn{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}
/* ESTILOS BARRA DE NAVEGACION*/




/* ESTILOS PÁGINA DE CONTACTO*/
.main-contact {
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
.h1-contacto {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
    grid-row-start: 2;
    text-align: center;

}
.formulario-contacto {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    grid-row-start: 3;
    width: 40vw;
    margin: 10px 30px 10px 30px;
}
.form-item {
    display: flex;
    flex-direction: column;

}
.contact-iframe{
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    grid-row-start: 3;
    width: 100%;
    height: 100%;
}
.contact-iframe iframe {
    width: 100%;
    height: 100%;
}

.textarea {
    resize: none;
}
/* ESTILOS PÁGINA DE CONTACTO*/






/* ESTILOS DE LAS FICHAS TÉCNICAS*/
.main-ft{
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-rows: 0.7fr 3fr 4fr;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    padding: 1vw;
    color: rgb(26, 16, 2);
    background-color: rgb(240, 227, 130);
    text-align: center;
}
th {
    font-size: 1.2vw;
    text-align: center;
    padding: 1vw;
    background-color: rgb(223, 231, 156);
}
table {
    background-color: rgba(23, 20, 11, 0.838);
    width: 90%;   
    text-align: justify; 
    margin: 1vw auto;
}
.div-img{
    width: 100%;
    align-items: center;
    text-align: center;

}

.yt-a{
    width: 100%;
    align-items: center;
    text-align: center;

}
.div-tabla{

}

.div-tabla table{
 
    text-align: center;
    justify-content: center;
    align-items: center;

}
/* ESTILOS DE LAS FICHAS TÉCNICAS*/





/* ESTILOS DEL FOOTER*/
.footer {
    background-color: rgb(255, 218, 138);
    display: flex;
    text-align: center; 
    flex-direction: column;  
}
/* ESTILOS DEL FOOTER*/



/* ESTILOS DEL INDEX */
.main-vinilos{
    width: 90%;
	max-width: 1000px;
	margin:auto;
	padding: 40px 60px;
	display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 25px;
    
}
.main-vinilos div p, .container-main-vinilos div p a {
    background-color: rgb(185, 199, 199);
}
.main-vinilos div p  {
    background-color:rgba(185, 199, 199, 0.5)
}

.main-index{
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-rows: 0.7fr 5fr 15fr;
    border: burlywood solid 10px;
}
.main-aboutus {
    background-color: rgb(255, 218, 138);
    display: grid;
    grid-template-rows: auto auto auto auto;
}
.titulo-index{
    margin: 0.5vw auto;
    grid-row-start: 1;
    text-align: center;
}
.main-index-img {
    width: auto;
    height: auto;
    text-align: center; 
}
.main-index-img img {

    width: 40vw;
    height: auto;
    align-items: center;
    text-align: center;
}
.main-index-img p {
    padding: 20px;
    font-size: x-large;
    align-items: center;
    text-align: center;
}
.texto-vinilos{
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.texto-center{
    display: flex;
    justify-content: center;
}

/* ESTILOS DEL INDEX*/

.ico-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: 0 0 6px rgb(0 0 0 / 30%);
    -webkit-transition: padding 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
    -moz-transition: padding 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
    -ms-transition: padding 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
    -o-transition: padding 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
    -webkit-transition: padding 0.2s linear, background 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: padding 0.2s linear, background 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: padding 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
    transition: padding 0.2s linear, box-shadow 0.2s linear, background 0.2s linear, -webkit-box-shadow 0.2s linear;
}

/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */


/* ESTILOS PÁGINA DE CONTACTO*/
@media only screen and (max-width: 450px)  {
    .main-contact {
        background-color: rgb(255, 218, 138);
        display: grid;
        grid-template-rows: 1fr 4fr 4fr 1fr;
    }
    .h1-contacto {
        grid-row-end: 1;
        grid-row-start: 2;
        text-align: center;
    
    }
    .titulo-principal{
        font-size: 1.5em;
    }
    .formulario-contacto {
        grid-row-end: 2;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 1px 3px;
        width: 90%;
        margin: 1vh auto;
    }
    .form-item {
        display: flex;
        flex-direction: column;
    }
    .contact-iframe{
        grid-row-end: 3;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 90%;
        margin: 10vh auto;
    }
    .header {
        width: 100%;
    }
    .main-contact {
        width: 100%
    }

/* ESTILOS PÁGINA DE CONTACTO*/



/* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*/

    .header {
        background-color: rgb(58, 40, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
    }
    .header .logo {
        cursor: pointer;
    }
    .header .logo img {
        height: 8vh;
        transition: all 0.3s;
    }
    .header .logo img:hover {
        transform: scale(1.2);
    }
    .header .nav-links li {
        display:inline-flex;
        padding: 0 10px;
    }
    .header .nav-links li:hover {
        transform: scale(1.1);
    }
    .header .nav-links a {
        font-size: 0.7em;
        text-decoration: none;
        color: aliceblue;

    }
    .header .nav-links a:hover{
        color: rgb(249, 206, 67);
    }
    .header .btn button {
        font-size: 0.5em;
        color: black;
        background: #fff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .header .btn button:hover {
        color: rgb(249, 206, 67);
        transform: scale(1.1);
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .buttons a {
        margin: 1vw;
    }


/* ESTILOS BARRA DE NAVEGACION*/ /* ESTILOS BARRA DE NAVEGACION*//* ESTILOS BARRA DE NAVEGACION*/



    .main-vinilos{
        width: 100%;
        max-width: 50vw;
        margin:20vw;
        padding: 0.4vw 0.6vw;
        display: grid;
        grid-template-columns: 55vw;
        gap: 25px;
    }
    .main-vinilos div p, .container-main-vinilos div p a {
        background-color: rgb(185, 199, 199);
    }
    .main-vinilos div p  {
        background-color:rgba(185, 199, 199, 0.5)
    }
    
    .main-index{
        background-color: rgb(255, 218, 138);
        display: grid;
        grid-template-rows: 0.1fr 1fr 5fr;
    }
    .main-aboutus {
        background-color: rgb(255, 218, 138);
        display: grid;
        grid-template-rows: auto auto auto auto;
    }
    .titulo-index{
        grid-row-start: 1;
        text-align: center;
    }
    .main-index-img {
        width:fit-content;
        height: auto;
        text-align: center; 
    }
    .main-index-img img {
        width: 40vw;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .main-index-img p {
        padding: 10px;
        font-size: large;
        align-items: center;
        text-align: center;
    }
    .texto-vinilos{
        color: black;
        font-size: medium;
        font-weight: bold;
        text-align: center;
    }
    .texto-center{
        display: flex;
        justify-content: center;
    }


}


/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */